<div>
  <h1>{{title}}</h1>
  <p class="article-content">{{content}}</p>
  <!--<app-articlecommentarea></app-articlecommentarea>-->
  <form action="">
    <div class="form-group">
      <lable for="commentsinput"><h3>Comment Area</h3></lable>
      <textarea  id="commentsinput" class="form-control"></textarea>
      <input type="submit" class="btn btn-primary form-control" value="submit" style="margin-top: 10px">
    </div>
  </form>
  <!--<app-articlecomments></app-articlecomments>-->
  <div class="col-md-12">
    <div class="panel panel-default" *ngFor="let item of items">
      <div class="panel-heading">{{item.user_id}}
      </div>
      <div class="panel-body">
        {{item.content}}
      </div>
      <div class="panel-footer">{{item.created_at}}
      </div>
    </div>
  </div>

</div>
